{% extends "DziadekProjektBundle::layout.html.twig" %}
{% block content %}
<h3>Lista filmów</h3>
<p>
</p>
<h3>Najpopularniejsze filmy</h3>
<p>
</p>
<h3>Najczęściej recenzowane</h3>
<p>
</p>
<h3>Gatunki filmów</h3>
<p>
</p>
{% endblock %}